/* latin */
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(https://fonts.gstatic.com/s/quattrocentosans/v10/va9c4lja2NVIDdIAAoMR5MfuElaRB0zJt08.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Quattrocento Sans Bold'), local('QuattrocentoSans-Bold'), url(https://fonts.gstatic.com/s/quattrocentosans/v10/va9Z4lja2NVIDdIAAoMR5MfuElaRB0RyklrRPXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
  font-size: 18px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: auto;
}

.container{
  display: inline-block;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 64px;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo img{
  height: 32px;
}
.logo span{
  color: #BFBFBF;
}
.logo p{
  font-weight: bold;
}
.navbar{
  padding-right: 24px;
}
.navbar span{
  padding-left: 16px;
}
.bannerbox{
  background-color: #BFBFBF;
  display: flex;
  width: 100%;
  align-content: center;
  padding: 32px;
  overflow: hidden;
}
.bannerbox img{
  width: 55%;
  height: 500px;
}
.bannertext{
  font-weight: bold;
  font-family: 'Quattrocento Sans Bold';
  font-size: 1.25rem;
  margin:auto 34px;
  width: 27%;
}
.bannertext h1{
  font-family: 'Raleway';
  font-weight: 800;
}
.starthere{
  background-color: #484545;
  color:white;
  width: 100%;
  text-align:center;
  padding: 8px;
  margin-top: 24px;
  opacity: 1;
}
.starthere:hover{
  background-color: black;
  transition-duration: 200ms;
  opacity: 0.75;
}
.imageinfo{
  display:flex;
  width: 100%;
  justify-content: flex-start;
}
.largeimage{
  width: 57%;
  padding: 32px 24px;
}
.largeimage img{
  width: 100%;
  overflow: hidden;
  height: auto;
}
.largeimage h2{
  font-family: 'Raleway';
  font-weight: 700;
  padding-bottom: 24px;
}
.largeimage span{
  font-style: italic;
  font-size: 0.75rem;
}
.smallimage{
  width: 37%;
  border-left: 1px solid #BFBFBF;
}
.columnimage{
  display:flex;
  width: 100%;
  align-items: center;
  padding: 32px;
  border-bottom: 1px solid #BFBFBF;
}
.columnimage img{
  width: 35%;
  height: auto;
  overflow: hidden;
}
.columntext{
  text-align: left;
  width: 65%;
  margin: 0 auto;
  font-size: 1rem;
  padding-left: 1rem;
}
.columntext span{
  color: #339CD2;
}
.columntext span:hover{
  color:#0B577E;
}
.columnimage:last-child{
  background-color: #BFBFBF;
}
.coursescontainer{
  background-color: #BFBFBF;
  width: 100%;
  text-align: left;
  display: block;
  padding-bottom: 32px;
}
.coursescontainer h2{
  text-align: center;
  padding-top: 32px;
  padding-bottom: 20px;
  margin: auto;
  font-family: 'Raleway';
  font-weight: 700;
}
.courses p{
  font-size: 0.75rem;
  padding-bottom: 12px;
  padding-left: 16px;
}
.courses h4{
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;
}
.wrapcourses{
  display: flex;
  flex-wrap: wrap;
  padding: 16px 36px;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  height: 700px;
}
.courses{
  background-color: white;
  height: auto;
  margin-right: 32px;
  width: 30%;
  margin-bottom: 12px;
  height: 335px;
}
.courses img{
  width: 100%;
  overflow: hidden;
}
.courses span{
  font-size: 0.75rem;
  padding-left: 16px;
}
.thesiscontainer{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.largethesis{
  width: 57%;
  padding:32px 24px;
}
.thesistext h2{
  font-family: 'Raleway';
  font-weight: 700;
  text-align: center;
  padding-top: 32px;
}
.columnthesis{
  display:flex;
  width: 100%;
  align-items: center;
  margin-top: 32px;
}
.columnthesis:first-child{
  background-color: #BFBFBF;
  padding: 16px;
}
.smallthesis{
  width: 37%;
}
.columnthesis img{
  width: 35%;
  height: auto;
  overflow: hidden;
}
footer{
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  border-top: 1px solid #BFBFBF;
  height: 5rem;
}
.copyright{
  padding-left: 24px;
  padding-top: 16px;
}
.termsandprivacy{
  padding-right: 24px;
  padding-top: 16px;
}
.termsandprivacy span{
  padding-left: 1rem;
}
